.homeContent {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    color: white;
    background: rgba(95, 92, 92, 0.767);
    border-radius: 5px;
  }
  
  .homeContent h1 {
    color: rgb(233, 248, 27);
    background: transparent;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .homeContent p {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }